
ADGUARD_HOME_HOST_IP=192.168.0.129
ADGUARD_HOME_DNS_PORT=53
ADGUARD_HOME_WEB_PORT=30054

ADGUARD_HOME_WORK_HOST_PATH=./adguard-home/work
ADGUARD_HOME_WORK_CONTAINER_PATH=/opt/adguardhome/work
ADGUARD_HOME_CONF_HOST_PATH=./adguard-home/conf
ADGUARD_HOME_CONF_CONTAINER_PATH=/opt/adguardhome/conf

ADGUARD_HOME_CPUS=1
ADGUARD_HOME_MEM_LIMIT=512m
