GITEA_VERSION=1.26.1
GITEA_UID=568
GITEA_GID=568
GITEA_TZ=Europe/Vienna

GITEA_DOMAIN=gitea.example.invalid
GITEA_ROOT_URL=https://gitea.example.invalid/
GITEA_WEB_PORT=30056
GITEA_SSH_PORT=30057

GITEA_DATA_HOST_PATH=./gitea/data
GITEA_DATA_CONTAINER_PATH=/data
GITEA_CPUS=2
GITEA_MEM_LIMIT=2048m

GITEA_POSTGRES_VERSION=17-alpine
GITEA_POSTGRES_DATABASE=gitea
GITEA_POSTGRES_USER=gitea
GITEA_POSTGRES_PASSWORD=change-me
GITEA_POSTGRES_DATA_HOST_PATH=./gitea/postgres-data
GITEA_POSTGRES_DATA_CONTAINER_PATH=/var/lib/postgresql/data
GITEA_POSTGRES_CPUS=1
GITEA_POSTGRES_MEM_LIMIT=1024m
