SWIPARR_UID=568
SWIPARR_GID=568

SWIPARR_WEB_PORT=4321

SWIPARR_DATA_HOST_PATH=./swiparr/data
SWIPARR_DATA_CONTAINER_PATH=/app/data

SWIPARR_CPUS=1
SWIPARR_MEM_LIMIT=1024m

JELLYFIN_URL=http://192.168.0.129:1234
JELLYFIN_PUBLIC_URL=https://jellyfin.xxx.com
USE_SECURE_COOKIES=true
ADMIN_USERNAME=admin
