NAVIDROME_UID=568
NAVIDROME_GID=568
NAVIDROME_TZ=Europe/Vienna

NAVIDROME_WEB_PORT=30043
NAVIDROME_WELCOME_MESSAGE=Welcome to Navidrome

NAVIDROME_DATA_HOST_PATH=./navidrome/data
NAVIDROME_DATA_CONTAINER_PATH=/data

NAVIDROME_MUSIC_HOST_PATH=/mnt/default_pool/Music
NAVIDROME_MUSIC_CONTAINER_PATH=/music

NAVIDROME_CPUS=2
NAVIDROME_MEM_LIMIT=4096m
