UMAMI_VERSION=3.0.3
UMAMI_TZ=Europe/Vienna

UMAMI_WEB_PORT=30055
UMAMI_APP_SECRET=change-me-to-a-random-string
UMAMI_DISABLE_TELEMETRY=1

UMAMI_CPUS=1
UMAMI_MEM_LIMIT=1024m

UMAMI_POSTGRES_VERSION=15-alpine
UMAMI_POSTGRES_DATABASE=umami
UMAMI_POSTGRES_USER=umami
UMAMI_POSTGRES_PASSWORD=change-me
UMAMI_POSTGRES_DATA_HOST_PATH=./umami/postgres-data
UMAMI_POSTGRES_DATA_CONTAINER_PATH=/var/lib/postgresql/data
UMAMI_POSTGRES_CPUS=1
UMAMI_POSTGRES_MEM_LIMIT=1024m
