UMAMI_TZ=Europe/Vienna

UMAMI_UID=568
UMAMI_GID=568

UMAMI_WEB_PORT=30060
UMAMI_APP_SECRET=change-me-to-a-random-string
UMAMI_DISABLE_TELEMETRY=1

UMAMI_CPUS=1
UMAMI_MEM_LIMIT=1024m

UMAMI_POSTGRES_DATABASE=umami
UMAMI_POSTGRES_USER=umami
UMAMI_POSTGRES_PASSWORD=change-me
UMAMI_POSTGRES_DATA_HOST_PATH=./umami/postgres-data
UMAMI_POSTGRES_DATA_CONTAINER_PATH=/var/lib/postgresql/data
UMAMI_POSTGRES_CPUS=1
UMAMI_POSTGRES_MEM_LIMIT=1024m
UMAMI_POSTGRES_UID=999
UMAMI_POSTGRES_GID=999
