SABNZBD_UID=568
SABNZBD_GID=568
SABNZBD_TZ=Europe/Vienna

SABNZBD_WEB_PORT=30670

SABNZBD_CONFIG_HOST_PATH=./sabnzbd/config
SABNZBD_CONFIG_CONTAINER_PATH=/config

SABNZBD_DOWNLOADS_HOST_PATH=/mnt/default_pool/downloads/complete
SABNZBD_DOWNLOADS_CONTAINER_PATH=/downloads
SABNZBD_INCOMPLETE_DOWNLOADS_HOST_PATH=/mnt/default_pool/downloads/incomplete
SABNZBD_INCOMPLETE_DOWNLOADS_CONTAINER_PATH=/incomplete-downloads

SABNZBD_CPUS=2
SABNZBD_MEM_LIMIT=2048m
