SEERR_UID=568
SEERR_GID=568
SEERR_TZ=Europe/Vienna
SEERR_LOG_LEVEL=info

SEERR_WEB_PORT=30671
SEERR_CONTAINER_PORT=5055

SEERR_CONFIG_HOST_PATH=./seerr/config
SEERR_CONFIG_CONTAINER_PATH=/app/config

SEERR_CPUS=1
SEERR_MEM_LIMIT=1024m
