RADARR_UID=568
RADARR_GID=568
RADARR_TZ=Europe/Vienna

RADARR_WEB_PORT=30025

RADARR_CONFIG_HOST_PATH=./radarr/config
RADARR_CONFIG_CONTAINER_PATH=/config

RADARR_MOVIES_HOST_PATH=/mnt/default_pool/Movies
RADARR_MOVIES_CONTAINER_PATH=/movies
RADARR_DOWNLOADS_HOST_PATH=/mnt/default_pool/Downloads/completed/Movies
RADARR_DOWNLOADS_CONTAINER_PATH=/downloads/completed/Movies

RADARR_CPUS=1
RADARR_MEM_LIMIT=1024m
