AUDIOBOOKSHELF_TZ=Europe/Vienna

AUDIOBOOKSHELF_UID=568
AUDIOBOOKSHELF_GID=568

AUDIOBOOKSHELF_WEB_HOST_IP=0.0.0.0
AUDIOBOOKSHELF_WEB_PORT=30067

AUDIOBOOKSHELF_CONFIG_HOST_PATH=./audiobookshelf/config
AUDIOBOOKSHELF_METADATA_HOST_PATH=./audiobookshelf/metadata
AUDIOBOOKSHELF_BOOKS_HOST_PATH=/mnt/default_pool/Books
AUDIOBOOKSHELF_BACKUP_HOST_PATH=/mnt/misc_pool/backup/Audiobookshelf

AUDIOBOOKSHELF_CPUS=2.0
AUDIOBOOKSHELF_MEM_LIMIT=1g
