JELLYFIN_UID=568
JELLYFIN_GID=568
JELLYFIN_TZ=Europe/Vienna

JELLYFIN_PUBLISHED_SERVER_URL=jellyfin.hauptmann.dev
JELLYFIN_CACHE_DIR=/cache

JELLYFIN_WEB_PORT=30013
JELLYFIN_HTTPS_PORT=30014

JELLYFIN_CONFIG_PATH=./jellyfin/config
JELLYFIN_CACHE_PATH=./jellyfin/cache

JELLYFIN_MOVIES_SOURCE=/mnt/default_pool/Movies
JELLYFIN_MOVIES_TARGET=/mnt/Movies
JELLYFIN_SERIES_SOURCE=/mnt/default_pool/Series
JELLYFIN_SERIES_TARGET=/mnt/Series

JELLYFIN_TRANSCODE_TMPFS_PATH=/cache/transcodes

JELLYFIN_CPUS=2
JELLYFIN_MEM_LIMIT=4096m
