BACKUP_ROOT=/mnt/default_pool/dockge/back

# Persistent service paths, relative to this compose file.
JELLYFIN_CONFIG_HOST_PATH=../../eggenberg-services/jellyfin/jellyfin/config
SWIPARR_DATA_HOST_PATH=../../eggenberg-services/swiparr/swiparr/data
SABNZBD_CONFIG_HOST_PATH=../../eggenberg-services/sabnzbd/sabnzbd/config
SEERR_CONFIG_HOST_PATH=../../eggenberg-services/seerr/seerr/config
RADARR_CONFIG_HOST_PATH=../../eggenberg-services/radarr/radarr/config
SONARR_CONFIG_HOST_PATH=../../eggenberg-services/sonarr/sonarr/config
JELLYSTAT_BACKUP_HOST_PATH=../../eggenberg-services/jellystat/jellystat/backup-data
JELLYSTAT_POSTGRES_DATA_HOST_PATH=../../eggenberg-services/jellystat/jellystat/postgres-data
HOME_ASSISTANT_CONFIG_HOST_PATH=../../eggenberg-services/home-assistant/home-assistant/config
