BACKUP_ROOT=/mnt/default_pool/dockge/back
FIREFLY_DB_VOLUME=firefly-iii_firefly_iii_db
FIREFLY_UPLOAD_VOLUME=firefly-iii_firefly_iii_upload
BAMBUDDY_DATA_VOLUME=bambuddy_bambuddy_data
BAMBUDDY_LOGS_VOLUME=bambuddy_bambuddy_logs
