BAZARR_UID=568
BAZARR_GID=568
BAZARR_TZ=Europe/Vienna

BAZARR_WEB_PORT=30068

BAZARR_CONFIG_HOST_PATH=./bazarr/config
BAZARR_CONFIG_CONTAINER_PATH=/config

BAZARR_MOVIES_HOST_PATH=/mnt/default_pool/Movies
BAZARR_MOVIES_CONTAINER_PATH=/movies

BAZARR_SERIES_HOST_PATH=/mnt/default_pool/Series
BAZARR_SERIES_CONTAINER_PATH=/Series

BAZARR_CPUS=1
BAZARR_MEM_LIMIT=512m
