POCKET_ID_TZ=Europe/Vienna

POCKET_ID_UID=568
POCKET_ID_GID=568

# --- Pocket ID ---
POCKET_ID_PUBLIC_APP_URL=https://id.example.invalid
POCKET_ID_TRUST_PROXY=true
POCKET_ID_WEB_PORT=30411

POCKET_ID_DATA_HOST_PATH=./pocket-id/data
POCKET_ID_CPUS=1
POCKET_ID_MEM_LIMIT=256m
