TAILSCALE_TZ=Europe/Vienna

TAILSCALE_HOSTNAME=truenas-scale
TAILSCALE_AUTHKEY=change-me
TAILSCALE_AUTH_ONCE=true
TAILSCALE_ACCEPT_DNS=false
TAILSCALE_USERSPACE=false

TAILSCALE_STATE_HOST_PATH=./tailscale/state
TAILSCALE_STATE_DIR=/var/lib/tailscale

# Example route advertising: --advertise-routes=192.168.0.0/24
# Example exit node: --advertise-exit-node
TAILSCALE_EXTRA_ARGS=
TAILSCALE_DAEMON_EXTRA_ARGS=

TAILSCALE_CPUS=1
TAILSCALE_MEM_LIMIT=256m
