SONARR_UID=568
SONARR_GID=568
SONARR_TZ=Europe/Vienna

SONARR_WEB_PORT=30113

SONARR_CONFIG_HOST_PATH=./sonarr/config
SONARR_CONFIG_CONTAINER_PATH=/config

SONARR_SERIES_HOST_PATH=/mnt/default_pool/Series
SONARR_SERIES_CONTAINER_PATH=/Series
SONARR_DOWNLOADS_HOST_PATH=/mnt/default_pool/Downloads/completed/Series
SONARR_DOWNLOADS_CONTAINER_PATH=/downloads/completed/Series

SONARR_CPUS=1
SONARR_MEM_LIMIT=1024m
