# =========================================================================
# TEIL 1: DATENBANK (MariaDB)
# =========================================================================
MYSQL_RANDOM_ROOT_PASSWORD=yes
MYSQL_USER=firefly
MYSQL_PASSWORD=change_me
MYSQL_DATABASE=firefly

# =========================================================================
# TEIL 2: FIREFLY III CORE (Haupt-App)
# =========================================================================
FIREFLY_III_UID=568
FIREFLY_III_GID=568

APP_NAME=FireflyIII
APP_ENV=local
# Beispielwert, lokal durch eigenen Key ersetzen.
APP_KEY=base64:4iR7A5Qh7QPGgQ3Y0K9n0K3P8G4Vw8m0xM4Vd5nFf9Q=
APP_DEBUG=false
SITE_OWNER=mail@example.com
TZ=Europe/Berlin
TRUSTED_PROXIES=**
APP_URL=http://192.168.0.129:30666
APP_PORT=30666

# Datenbank-Verbindung
DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=firefly
DB_USERNAME=firefly
DB_PASSWORD=change_me

# Cron
STATIC_CRON_TOKEN=replace_with_32_random_characters

# Standardwerte
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync
MAIL_MAILER=log

# =========================================================================
# TEIL 3: DATA IMPORTER
# =========================================================================
FIREFLY_III_URL=http://app:8080
VANITY_URL=http://192.168.0.129:30666
IMPORTER_PORT=30667
FIREFLY_III_ACCESS_TOKEN=replace_with_firefly_access_token
SEND_TELEMETRY=false
