JELLYSTAT_UID=568
JELLYSTAT_GID=568
JELLYSTAT_TZ=Europe/Vienna

JELLYSTAT_WEB_PORT=30176
JELLYSTAT_CPUS=2
JELLYSTAT_MEM_LIMIT=4096m
JELLYSTAT_LOG_MAX_FILE=5
JELLYSTAT_LOG_MAX_SIZE=10m

JELLYSTAT_POSTGRES_VERSION=17
JELLYSTAT_POSTGRES_UID=999
JELLYSTAT_POSTGRES_GID=999
JELLYSTAT_POSTGRES_DATABASE=jfstat
JELLYSTAT_POSTGRES_USER=postgres
JELLYSTAT_POSTGRES_PASSWORD=change-me
JELLYSTAT_POSTGRES_DATA_HOST_PATH=./jellystat/postgres-data
JELLYSTAT_POSTGRES_DATA_CONTAINER_PATH=/var/lib/postgresql/data
JELLYSTAT_POSTGRES_PGDATA=/var/lib/postgresql/data/pgdata

JELLYSTAT_JWT_SECRET=change-me-to-a-long-random-secret
JELLYSTAT_IS_EMBY_API=false

JELLYSTAT_BACKUP_HOST_PATH=./jellystat/backup-data
JELLYSTAT_BACKUP_CONTAINER_PATH=/app/backend/backup-data
