HOME_ASSISTANT_TZ=Europe/Vienna

HOME_ASSISTANT_WEB_PORT=30123

HOME_ASSISTANT_CONFIG_HOST_PATH=./home-assistant/config
HOME_ASSISTANT_CONFIG_CONTAINER_PATH=/config

HOME_ASSISTANT_CPUS=2
HOME_ASSISTANT_MEM_LIMIT=2048m

MATTER_SERVER_DATA_HOST_PATH=./home-assistant/matter-server-data

MATTER_SERVER_CPUS=1
MATTER_SERVER_MEM_LIMIT=512m
