HOME_ASSISTANT_UID=568
HOME_ASSISTANT_GID=568
HOME_ASSISTANT_TZ=Europe/Vienna

HOME_ASSISTANT_CONFIG_HOST_PATH=./home-assistant/config
HOME_ASSISTANT_CONFIG_CONTAINER_PATH=/config

HOME_ASSISTANT_CPUS=2
HOME_ASSISTANT_MEM_LIMIT=2048m
