BAMBUDDY_UID=568
BAMBUDDY_GID=568
TZ=Europe/Vienna
PORT=8000
BAMBUDDY_WEB_PORT=30669

BAMBUDDY_DATA_HOST_PATH=./bambuddy/data
BAMBUDDY_DATA_CONTAINER_PATH=/app/data
BAMBUDDY_LOGS_HOST_PATH=./bambuddy/logs
BAMBUDDY_LOGS_CONTAINER_PATH=/app/logs
BAMBUDDY_VIRTUAL_PRINTER_HOST_PATH=./bambuddy/virtual_printer
BAMBUDDY_VIRTUAL_PRINTER_CONTAINER_PATH=/app/data/virtual_printer

BAMBUDDY_CPUS=1
BAMBUDDY_MEM_LIMIT=1024m
